button {
  width: 100%;
  min-height: 150px;
  font-size: 4em;
  border-radius: 1rem;
  border: 0;
}

.x-square-button {
  background-color: orangered;
}

.o-square-button {
  background-color: green;
}