<main class="screen">
  <h1 class="game-title">Tic Tac Toe PWA Angular</h1>
 
  <ng-container *ngIf="winner">
    <h2 class="winner-player-title">Player {{ winner }} won the game!</h2>
  </ng-container>

  <ng-container *ngIf="!winner && noOneWonTheGame()">
    <h2 class="winner-player-title">No one won the game ...</h2>
  </ng-container>

  <ng-container *ngIf="!winner && !noOneWonTheGame()">
    <h3 class="current-player-title">Current Player: {{ player }}</h3>
  </ng-container>

  <section class="boargame">
    <app-square
      *ngFor="let square of squares; let i = index"
      [value]="square"
      (click)="makeMove(i)"
    >
    </app-square>
  </section>

  <button class="new-game-button" *ngIf="winner || noOneWonTheGame()" (click)="newGame()">
    Start new Game
  </button>
</main>
